apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: appdev-production-environment
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: production-env
  source:
    path: helm
    repoURL: https://github.com/niranjan-mookambika/appdev.git
    targetRevision: v0.13.0
    helm:
      version: v3
      values: |
        local: true
  destination:
    namespace: production-env
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
