---
# Source: environment-promote/templates/application.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: production-environment
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: production-env
  source:
    path: helm
    repoURL: https://github.com/CloudNativeEntrepreneur/environment.git
    targetRevision: v0.5.3
    helm:
      version: v3
  destination:
    namespace: production-env
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
